<mat-toolbar>
    <span>
        <mat-icon>account_circle</mat-icon>
        Clientes
    </span>
</mat-toolbar>
<mat-tab-group #tabGroup="matTabGroup">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            Lista
        </ng-template>
        <mat-card>
            <table mat-table [dataSource]="dataSource" class="full-width" matTableResponsive>

                <ng-container matColumnDef="idCategory">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let category"> {{ category.idCategory }} </td>
                </ng-container>

                <ng-container matColumnDef="nameCategory">
                    <th mat-header-cell *matHeaderCellDef> Primeiro Nome </th>
                    <td mat-cell *matCellDef="let category"> {{ category.nameCategory }} </td>
                </ng-container>

                <ng-container matColumnDef="descriptionCategory">
                    <th mat-header-cell *matHeaderCellDef> Último Nome </th>
                    <td mat-cell *matCellDef="let category"> {{ category.descriptionCategory }} </td>
                </ng-container>

                <ng-container matColumnDef="deleteCategory">
                    <th mat-header-cell *matHeaderCellDef> Excluir </th>
                    <td mat-cell *matCellDef="let category">
                        <a href="#" routerLink="category" (click)="deleteCategory(category)">
                            <mat-icon>delete-forever</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="findCategory">
                    <th mat-header-cell *matHeaderCellDef> Alterar </th>
                    <td mat-cell *matCellDef="let category">
                        <a href="#" routerLink="category" (click)="tabGroup.selectedIndex=1;findCategory(category);">
                            <mat-icon>mode_edit</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>face</mat-icon>
            Novo
        </ng-template>
        <mat-card>
            <mat-card-title>Cadastro</mat-card-title>
            <form>
                <mat-form-field class="full-width">
                    <mat-label>Primeiro Nome: </mat-label>
                    <input type="text" matInput placeholder="Digite seu primeiro nome"
                        [(ngModel)]="category.firstNameCategory" name="firstNameCategory" required />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Último Nome: </mat-label>
                    <input type="text" matInput placeholder="Digite seu último nome"
                        [(ngModel)]="category.lastNameCategory" name="lastNameCategory" required />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>CPF: </mat-label>
                    <input type="text" matInput placeholder="Digite seu CPF" [(ngModel)]="category.cpfCategory"
                        name="cpfCategory" required />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Data de Nascimento: </mat-label>
                    <input type="date" matInput placeholder="Digite sua data de nascimento"
                        [(ngModel)]="category.birthdateCategory" name="birthdateCategory" required />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Renda Mensal: R$ </mat-label>
                    <input type="number" matInput placeholder="Digite sua renda mensal (R$)"
                        [(ngModel)]="category.monthlyIncomeCategory" name="monthlyIncomeCategory" required />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Email: </mat-label>
                    <input type="email" matInput placeholder="Digite seu email" [(ngModel)]="category.emailCategory"
                        name="emailCategory" required />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Senha: </mat-label>
                    <input type="password" matInput placeholder="Digite sua senha"
                        [(ngModel)]="category.passwordCategory" name="passwordCategory" required />
                </mat-form-field>
                <button (click)="saveCategory();" mat-raised-button color="primary">Salvar</button>
                <br />
                <div role="alert" *ngIf="success == true">
                    <span>Cliente {{ category.firstNameCategory }} salvo com sucesso!</span>
                </div>
                <div role="alert" *ngFor="let error of errors">
                    <span>{{ error }}</span>
                </div>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>
