<mat-toolbar>
    <span>
        <mat-icon>account_circle</mat-icon>
        Clientes
    </span>
</mat-toolbar>
<mat-tab-group #tabGroup="matTabGroup">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            Lista
        </ng-template>
        <mat-card>
            <table mat-table [dataSource]="dataSource" class="full-width" matTableResponsive>

                <ng-container matColumnDef="idCategory">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let category"> {{ category.idCategory }} </td>
                </ng-container>

                <ng-container matColumnDef="nameCategory">
                    <th mat-header-cell *matHeaderCellDef> Nome da categoria </th>
                    <td mat-cell *matCellDef="let category"> {{ category.nameCategory }} </td>
                </ng-container>

                <ng-container matColumnDef="descriptionCategory">
                    <th mat-header-cell *matHeaderCellDef> Descrição da categoriaa</th>
                    <td mat-cell *matCellDef="let category"> {{ category.descriptionCategory }} </td>
                </ng-container>

                <ng-container matColumnDef="deleteCategory">
                    <th mat-header-cell *matHeaderCellDef> Excluir </th>
                    <td mat-cell *matCellDef="let category">
                        <a href="#" routerLink="category" (click)="deleteCategory(category)">
                            <mat-icon>delete-forever</mat-icon>
                        </a>
                    </td>
                </ng-container>
   
                <ng-container matColumnDef="findCategory">
                    <th mat-header-cell *matHeaderCellDef> Alterar </th>
                    <td mat-cell *matCellDef="let category">
                        <a href="#" routerLink="category" (click)="tabGroup.selectedIndex=1;findCategory(category);">
                            <mat-icon>mode_edit</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
        </mat-card>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>face</mat-icon>
            Novo
        </ng-template>
        <mat-card>
            <mat-card-title>Cadastro</mat-card-title>
            <form>
                <mat-form-field class="full-width">
                    <mat-label>Nome da categoria: </mat-label>
                    <input type="text" matInput placeholder="Digite seu último nome"
                        [(ngModel)]="category.nameCategory" name="lastNameCategory" required />
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Descrição da categoria: </mat-label>
                    <input type="text" matInput placeholder="Digite seu CPF" [(ngModel)]="category.descriptionCategory"
                        name="nameCategory" required />
                </mat-form-field>
                <button type="button" mat-raised-button color="primary" (click)="saveCategory();tabGroup.selectedIndex = 0">Salvar</button>
                <br />
                <div role="alert" *ngIf="success == true">
                    <span>Categoria {{ category.nameCategory }} salvo com sucesso!</span>
                </div>
                <div role="alert" *ngFor="let error of errors">
                    <span>{{ error }}</span>
                </div>
            </form>
        </mat-card>
    </mat-tab>
</mat-tab-group>